go 1.20

replace vectoredge.io/provision_service v0.0.1 => ./provision_service

use (
	./build_system
	./proto_layer
	./provision_service
)

replace vectoredge.io/proto_layer v0.0.1 => ./proto_layer

replace vectoredge.io/build_system v0.0.1 => ./build_system
